.logo {
  width: 50%;
}

.main_img {
  width: 100%;
}

.social_contain {
  height: 30px;
  width: 30px;
  border: 1px solid $white;
  border-radius: 50%;
  @include flex($align: center, $just: center);
  & i {
    font-size: 0.75em;
  }
}
