* {
  box-sizing: border-box;
}
body {
  padding: 30px;
  font-size: 1em;
  font-family: $open;
  font-weight: 400;
  color: $white;
  background-color: $violet;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-wrap {
  @include medq($break-l) {
    @include flex($dir: row);
    background-size: cover;
  }
}

header {
  @include flex($align: flex-start);
  padding: 30px 0px;
}

.main_img-contain {
  padding: 20px;
}

main {
  @include flex($dir: column);
  width: 90%;
  margin: auto;
  @include medq($break-l) {
    margin-top: 60px;
  }
}

.social {
  @include flex($dir: row, $align: center, $just: center);
  width: 50%;
  margin: 40px auto;
  height: 70px;
  @include medq($break-l) {
    margin-right: 0px;
  }
}

.btn {
  background-color: $white;
  color: $violet;
  width: 150px;
  margin: auto;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 3px 3px darken($violet, 10%);
  @include flex($align: center, $just: center);
  &:hover {
    background-color: $magenta;
    color: $white;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}

footer {
  @include medq($break-l) {
    width: 100%;
  }
}
