h1 {
  font-family: $heading;
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin: 70px 0px 0px;
  @include medqL($break-l) {
    font-size: 2.25em;
    text-align: left;
    margin-top: 30px;
  }
}

p {
  text-align: center;
  font-weight: 200;
  @include medqL($break-l) {
    text-align: left;
  }
}

a:link,
a:visited {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
